@charset "utf-8";
/* CSS Document */

html,
body{
	height:100%;
}
body{
	background:#083d60;
}
ul{
	list-style-type:none;
}
#footer{
    position:fixed;
    left: 0;
    bottom:0;
    width:100%;
    height: 46px;
    background-image:url(../images/common/footer.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: cover;
	z-index:998;
}

#gnb{
   position:fixed;
   left:0;
   bottom:46px;/*해상도조절시 변경*/
   width:100%;
   height:37px;
    background-image: url(../images/common/gnb_back.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    z-index: 999;
}
#gnb .inner_gnb{
    margin-left: 625px;
    margin-top: -45px;
}
#gnb .inner_gnb >li{
   float:left;
   margin-right:117px;
}
#gnb .inner_gnb >li > a{
   display:block;
   width:80px;
   height:130px;
   text-indent:-9999px;
}
#gnb .inner_gnb > .gnb01 a{
   background:url('../images/common/gnb_bell_01.png') no-repeat left top;
   width: 105px;
   position: relative;
}
#gnb .inner_gnb > .gnb01 a:hover{
   background:url('../images/common/gnb_over_01.png') no-repeat left top;
   left:-1px;
}
#gnb .inner_gnb > .gnb02 a{
   background:url('../images/common/gnb_bell_02.png') no-repeat left top;
   width: 105px;
   position: relative;
}
#gnb .inner_gnb > .gnb02 a:hover{
   background:url('../images/common/gnb_over_02.png') no-repeat left top;
   left:-1px;
}
#gnb .inner_gnb > .gnb03 a{
   background:url('../images/common/gnb_bell_03.png') no-repeat left top;
   width: 105px;
   position: relative;
}
#gnb .inner_gnb > .gnb03 a:hover{
   background:url('../images/common/gnb_over_03.png') no-repeat left top;
   left:-1px;
}
#gnb .inner_gnb > .gnb04 a{
   background:url('../images/common/gnb_bell_04.png') no-repeat left top;
   width: 105px;
   position: relative;
}
#gnb .inner_gnb > .gnb04 a:hover{
   background:url('../images/common/gnb_over_04.png') no-repeat left top;
   left:-1px;
}
#gnb .inner_gnb > li.rudolph{
   z-index: 9999;
   position:absolute;
   bottom: 15px;
   left:511px;
   margin-right:0;
}
#gnb .inner_gnb > .rudolph .rudolph_image{
    width: auto;
}
.hidden_box{
	height:100%;
	overflow:auto;
}

.wrap{
	height:100%;
	width:7680px;
	overflow:hidden;
	position:relative;
	bottom:0px;
}

.wrap > div{
	width:1920px;
	height:100%;
	position:relative;
	float:left;
}

/*<--scene01-->*/
#scene01{
    background-image: url(../images/scene01/bg_01.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
#scene01 .position_list{
    display: block;
}
#scene01 .position_list li{
    width:auto;
    position: absolute;
    display: inline-block;
}
#scene01 .position_list .maintypo{
    left: 690px;
    bottom: 545px;
    z-index: 1
}
#scene01 .position_list .bell{
    left: 1155px;
    bottom: 515px;
}
#scene01 .position_list .orgel{
    position: absolute;
    display: inline-block;
    left: 628px;
    bottom: 79px;
    z-index: 1;
}
#scene01 .position_list .orgel #orgle_musicbox p{
    position:absolute;
	left:0;
	top:0;
	display:none;
}
#scene01 .position_list .orgel_snow{
    position: absolute;
    display: inline-block;
    left: 668px;
    bottom: 243px;
    z-index: 998;
}
#scene01 .position_list .orgel_snow #orgle_snow p{
    position:absolute;
	left:0;
	top:0;
	display:none;
}
#scene01 .position_list .orgel_wheel{
    position: absolute;
    display: inline-block;
    left: 674px;
    bottom: 243px;
}
#scene01 .position_list .orgel_wheel #orgle_back p{
    position:absolute;
	left:0;
	top:0;
	display:none;
}
#scene01 .position_list .orgel_shine{
    position: absolute;
    display: inline-block;
    left: 638px;
    bottom: 79px;
}
.left_building{
    left: 44px;
    bottom: 80px;
}
.right_building{
    left: 1367px;
    bottom: 83px;
}
#scene01 .position_list .light{
    left: 640px;
    bottom: 1008px;
    z-index: 999;
}
#scene01 .position_list .light p{
    position:absolute;
    left: 0;
    top: 0;
	display:none;
}


/*<--scene02-->*/
#scene02{
    background-image: url(../images/scene02/bg_02.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
#scene02 .position_list{
    display: block;
}
#scene02 .position_list li{
    width:auto;
    position: absolute;
    display: inline-block;
}
#topmenu .inner_topmenu > li > a{
    display: block;
    width: 78px;
    height: 74px;
    top: 300px;
    text-indent: -999px;
}
#scene02 .cloud_01{
    left: 300px;
    bottom: 700px;
}
#scene02 .cloud_02{
    left: 1600px;
    bottom: 630px;
}

.topmenu_01{
    left: 1235px;
    top: 40px;
}
#topmenu .topmenu_01 a{
    background: url(../images/scene02/topmenu_01.png) no-repeat left top;
}
#topmenu .topmenu_01 a:hover{
    background: url(../images/scene02/topmenu_over_01.png) no-repeat left top;
    left: 1235px;
    top: 40px;
}
.topmenu_02{
    left: 1277px;
    top: 40px;
}
#topmenu .topmenu_02 a{
    background: url(../images/scene02/topmenu_02.png) no-repeat left top;
    left: 1277px;
    top: 40px;
}

#topmenu .topmenu_02 a:hover{
    background: url(../images/scene02/topmenu_over_02.png) no-repeat left top;
}
.topmenu_03{
    left: 1319px;
    top: 40px;
}
#topmenu .topmenu_03 a{
    background: url(../images/scene02/topmenu_03.png) no-repeat left top;
    left: 1319px;
    top: 40px;
}
#topmenu .topmenu_03 a:hover{
    background: url(../images/scene02/topmenu_over_03.png) no-repeat left top;
}
#scene02 .top_01{
    left: 860px;
}
#scene02 .left_building{
    left: 190px;
    bottom: 64px;
    z-index: 900;
}

#scene02 .right_building{
    left: 1362px;
    bottom: 4px;
    z-index: 900;
}
#scene02 .book{
    left: 398.5px;
    bottom: 91px;
    z-index: 997;
}

#scene02 ul #banner_all .banner_bg {
    display: inline-block;
    position: absolute;
    left: 1061px;
    bottom: 557px;
    z-index: 997;
}
#scene02 ul #banner_all .banner {
    display: inline-block;
    position: absolute;
    left: 1024px;
    bottom: 705px;
    z-index: 998;
}
#scene02 ul #banner_hand a p{
    position:absolute;
	left:0;
	top:0;
	display:none;
}
#scene02 .orgel_click_typo{
    left: 1053px;
    bottom: 258px;
    z-index: 998;
}
#scene02 #orgel_click_1{
    left:751px;
    bottom: 213px;
    z-index: 998;
}
#scene02 #orgel_click_2{
    left: 1010px;
    bottom: 222px;
    z-index: 998;
}
#scene02 #orgel_click_3{
    left: 1294px;
    bottom: 200px;
    z-index: 998;
}
#scene02 .tree_03{
    left: -75px;
    bottom: 57px;
}

/*<--scene03-->*/
#scene03{
    background-image: url(../images/scene03/bg_03.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
#scene03 .position_list{
    display: block;
}
#scene03 .position_list li{
    width:auto;
    position: absolute;
    display: inline-block;
}
#scene03 .top_02{
    left: 860px;
}
#scene03 .cloud_03{
    left: 330px;
    bottom: 670px;
    z-index: 0;
}
#scene03 .book .book_02{
    left: 410px;
    bottom: 91px;
    z-index: 1;
}

#scene03 .book .rudolph_big{
    left: 930px;
    bottom: 380px;
    z-index: 998;
}
#scene03 #rudolph_big p{
    position:absolute;
    left: 0px;
    top: 0px;
	display:none;
}
#scene03 .book .rudolph_small{
    left: 1087px;
    bottom: 310px;
    z-index: 998;
}
#scene03 #rudolph_small p{
    position:absolute;
    left: 0px;
    top: 0px;
	display:none;
}
#scene03 .box_all .rudolph_small_1{
    left: 940px;
    bottom: 314px;
    z-index: 998;
}
#scene03 #rudolph_small_1 p{
    position:absolute;
    left: 0;
    top: 0;
/*	display:none;*/
}
#scene03 .book #insta_typo{
    left: 1052px;
    bottom: 310px;
    z-index: 1;
}
#scene03 .book .box_all #box_cosmetic{
    left: 982px;
    bottom: 270px;
    z-index: 995;
}
#scene03 .book .box_all #box_star{
    left: 982px;
    bottom: 420px;
    z-index: 994;
}
#scene03 .book .box_all #box_star_2{
    left: 982px;
    bottom: 452px;
    z-index: 996;
/*    opacity: 0;*/
}
#scene03 .book .box_all #box{
    left: 983px;
    bottom: 260px;
    z-index: 996;
}
#scene03 .book .box_all #popup_illust{
    left: 1255px;
    bottom: 178px;
    z-index: 997;
}
#scene03 .button{
    left: 670px;
    bottom: 312px;
    opacity: 0;
    z-index: 1;
}
#scene03 .button_arrow_1{
    left: 842px;
    bottom: 328px;
    z-index: 930;
}
#scene03 .button_arrow_2{
    left: 840px;
    bottom: 328px;
    z-index: 930;
}
#scene03 .tapmenu_01{
    left: 1388px;
    bottom: 560px;
    width:48px;
    height: 216px;
}
#scene03 .tapmenu_01 button{
	position: relative;
	width:48px;
	height: 120px;
	border: none;
}
#scene03 .tapmenu_01 button#tap_btn1{
	background: url(../images/scene03/tapmenu_1_act.png);
	z-index: 999;
}
#scene03 .tapmenu_01 button#tap_btn2{
	background: url(../images/scene03/tapmenu_2_noact.png);
	bottom: -95px;
	left:-48px;
	z-index: 950;
}
#scene03 .left_building{
    left: 116px;
    bottom: 148px;
}
#scene03 .right_building{
    left: 1447px;
    bottom: 136px;
    z-index: 997;
}

/*<--scene04-->*/
#scene04{
    background-image: url(../images/scene04/bg_04.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
#scene04 .position_list{
    display: block;
}
#scene04 .position_list li{
    width:auto;
    position: absolute;
    display: inline-block;
}

#scene04 .top_03{
    left: 860px;
}
#scene04 .book{
	position:absolute;
    width:1104px;
	height:718px;
    left: 410px;
    bottom: 91px;
    background: url(../images/scene04/book.png);
}
#scene04 .book .book_detail{
	width:708px;
    margin-left: 200px;
    margin-top:165px;
}
#scene04 .book .book_detail > div{
	width:708px;
	height:339px;
	position:absolute;
}
#scene04 .slidesjs-pagination{
	position:absolute;
	left:50%;
	bottom:0;
	width:200px;
	height:20px;
	z-index:99;
	margin-left:-100px;
	font-size:0;
	text-align:center;
}

#scene04 .slidesjs-pagination li{
	display:none;
	margin:0 3px;
}

#scene04 .slidesjs-pagination li a{
	display:none;
}

#scene04 .slidesjs-previous{
	position:absolute;
	bottom:360px;
	z-index:120;
	background:url(../images/scene04/arrow_01.png);
	height:67px;
	width:48px;
	text-indent:-9999px;
    right:895px
}

#scene04 .slidesjs-next{
	position:absolute;
	bottom: 360px;
	z-index:130;
	background:url(../images/scene04/arrow_02.png);
	height:67px;
	width:48px;
	text-indent:-9999px;
    left:895px;
}

#scene04 .left_building{
    left: 85px;
    bottom: 130px;
    z-index: 1;
}
#scene04 .right_building{
    left: 1440px;
    bottom: 130px;
    z-index: 1;
}
/*구름 움직임*/
#scene04 .cloud_04{
    left: 300px;
    bottom: 700px;
}
#scene04 .cloud_05{
    left: 1500px;
    bottom: 650px;
}
#scene04 .illust_inner{
    left: 559px;
    bottom: 134px;
    z-index: 998;
}
#scene04 .position_list .girl{
    left: 630px;
    bottom: 370px;
    z-index: 998;
}
#scene04 .position_list .girl p{
    position:absolute;
    left: 0;
    top: 0;
	display:none;
}
